# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\danie\Documents\AUTONOMA\Cuarto-Warszawa\EDCS\Proyecto\resources\python-p2p-network\EDCS\p2p-kotlin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
